/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}

@font-face {
	font-family: 'Abril Fatface';
	src: url('/fonts/AbrilFatface.ttf');
	font-display: swap;
}

#Main {
	border: solid 1px rgb(var(--color-warning-700));
	height: 98%;
	width: 99%;
}
